body{
    background: linear-gradient(135deg, rgba(18, 22, 26, 1) 0%, rgba(54, 69, 79, 0.89) 53%, rgba(113, 142, 161, 0.76) 86%, rgba(250, 240, 230, 1) 100%);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(122, 118, 118, 1) 50%, rgba(0, 0, 0, 1) 100%); */
    height:100vh;
    width:100vw;
    color:#FCF5E5;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
   text-align: center;
   /* text-shadow:0px 5px 10px rgba(255, 255, 255, 0.539); */
}
.main{
    height:440px;
    width:450px;
    margin-left:35%;
    display:flex;
    flex-wrap: wrap;
}
.btn{
    height:150px;
    width:150px;
    
    margin:20px;
    border-radius:15px;
    text-align: center;
    font-size:20px;
}
.yellow,.blue{
    margin-top:0px;
}
.red{
    background-color:rgb(168, 48, 72);
    border:10px solid rgba(255, 0, 0, 0.358);
}  
.blue{
    background-color:rgb(71, 152, 206);
    border:10px solid rgb(0, 151, 252);
}
.green{
    background-color: rgb(72, 226, 193);
    border:10px solid rgb(0, 245, 192);
}
.yellow{
    background-color: rgba(238, 255, 0, 0.776);
    border:10px solid rgba(233, 249, 0, 0.776)
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: rgb(0, 255, 0);
}
.round{
    height:100px;
    width:100px;
    border-radius:50%;
    background: radial-gradient(circle at 50% 50%, rgba(108, 238, 255, 1) 0%, rgba(18, 0, 131, 1) 94%, rgba(18, 0, 131, 1) 100%);
    position:relative;
    left:46%;
    bottom:280px;
}
.b{
    margin-top:6%;
}

.redbg{
    background: linear-gradient(90deg, rgba(248, 89, 89, 1) 0%, rgba(255, 185, 185, 1) 50%, rgba(248, 89, 89, 1) 100%);
}